<h1>New User</h1>

<%= render 'form', user: @user %>

<%if session[:id].nil? %>
<%= link_to 'BACK', login_url %>
<% else %>
<%= link_to 'LOGOUT', {:controller =>'sessions', :action => 'destroy'} %>
<% end %>
